.cuerpo{
    background-color: darkgreen;
    height: 350px;
    width: auto;
}




form {
  width: 290px;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  margin: auto;
  background-color: rgba(77, 71, 71, 0.541);
  padding: 5px 10px;
  box-sizing: border-box;
  margin-top: 5px;
  border-radius: 7%;
}


input {
  width: 100%;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.287);
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.806);
}

.boton {
  background: #244aac;
  color: #fff;
  padding: 20px;
}

.boton:hover {
  cursor: pointer;
}

.formularioDeCompra{
    height: px;
    background-color: rgba(77, 71, 71, 0.541);
}
#resultado{
  background-color: #244aac;
  width: 240px;
  height: 100px;
}
.campo-incorrecto {
    border: 2px solid red;
  } 
.validar {
    margin-bottom: 10px;
  }

  .sucursales{

    height: 350px;
    width: 290px;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  margin: auto;
  background-color: rgba(77, 71, 71, 0.541);
  padding: 5px 10px;
  box-sizing: border-box;
  margin-top: 5px;
  border-radius: 7%;
  }
#filtro {
    margin-bottom: 10px;
  } 
#mensaje {
    margin-top: 10px;
    font-weight: bold;
  height: 100px;
  width: 50px;
  background-color: #244aac ;
}
  